<div class="game-card">

  <h1>{{ player.name }}</h1>

  <div class="game-card-attributes">
    <table>
      <tr>
        <td>Bohater:</td>
        <td>{{ player.characterName || '?' }}</td>
      </tr>
      <tr>
        <td>Masa:</td>
        <td>{{ player.mass || '?' }}</td>
      </tr>
      <tr>
        <td>Wzrost:</td>
        <td>{{ player.height || '?' }}</td>
      </tr>
      <tr>
        <td>Statek:</td>
        <td>{{ player.vehicleName || '?' }}</td>
      </tr>
      <tr>
        <td>Poklad:</td>
        <td>{{ player.vehicleCrew || '?' }}</td>
    </table>
</div>


